<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }} • Natura11y Inclusive Framework</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap" rel="stylesheet">

    <!-- Natura11y CSS and Icons -->
    <link rel="stylesheet" href="{{ site.url }}/dist/css/natura11y_docs.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.cdn_url_icons }}" rel="stylesheet">

    <!-- Prism CSS -->
    <link rel="stylesheet" href="{{ site.url }}/lib/css/prism.css" rel="stylesheet">

</head>