<div class="collapse padding-y-3 box-shadow-1 z-index-2000" id="language-select">

    <div class="container narrow">

        <div class="form-entry">

            <div class="form-entry__field field--has-button">

                <label class="screen-reader-only" for="custom-language-select">
                    Select Language Preference
                </label>

                <div class="field--has-button__group">
                
                    <span class="form-entry__field__select">
                        <select
                            id="custom-language-select"
                            name="selectExample"
                            aria-describedby="help-select-example">
                        </select>
                    </span>

                    <button
                        class="button button--icon-only theme-dark"
                        id="custom-language-update">
                        <span class="icon icon-arrow-right" aria-hidden="true"></span>
                    </button>

                </div>

            </div>

        </div>

    </div>

</div>