{% if include.figure %}
    {% assign figure_number = include.figure %}
{% else %}
    {% assign figure_number = 'X' %}
{% endif %}

<hr class="section-start" id="relatedCSSVariables">

<div class="container narrow margin-y-4">
	<h2>Related CSS Variables</h2>
	<p>
		Further <a href="{{ site.url }}/docs/customization/#customizableCDN">customize</a> {{ include.anchor }} by redefining any of their related <a href="{{ site.url }}/docs/customization/#cp_{{ include.anchor }}">CSS variables</a>, shown in Figure {{ figure_number }} below.
	</p>
</div>
<!-- .container -->

{% for category in site.data.natura11yCustomProperties %}

{% if category.type == page.title %}

{% assign scope = category.scope %}
{% assign customProperties = category.customProperties %}

<figure class="container medium margin-y-4">
	<div
		class="example"
		id="related-custom-properties"
		data-title="{{ include.anchor | capitalize }}">
		<pre>
			<code class="language-css">
			{{ scope }} {
				{%- for property in customProperties %}
				--{{ property.name }}: {{ property.value }};
				{%- endfor %}
			}
			</code>
		</pre>
	</div>
    <figcaption>
        <p>Figure {{ figure_number }}</p>
    </figcaption>
</figure>

{% endif %}
{% endfor %}