<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }} • Natura11y</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Natura11y CSS and Icons -->
    <link rel="stylesheet" href="{{ site.cdn_url_css }}">
    <link rel="stylesheet" href="{{ site.cdn_url_icons }}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<style>
html {
--body-max-width: 2000px;
    --html-background-color: var(--dark);
}

.aspect-ratio-custom {
    --aspect-ratio-custom: 4 / 2

}
</style>

</head>

<body class="theme-dark">
    
    {{ content }}

    <!-- Natura11y Javascript -->
    <script src="{{ site.cdn_url_js }}"></script>

</body>

</html>