---
layout: default
---

<div class="container medium text-align-center margin-y-4">
    <h1 class="font-weight-normal">
        {{ page.title }}
    </h1>
    <p class="font-size-md margin-bottom-0">
        <strong>Tags:</strong> 
        {% for tag in page.tags %}
        {% if forloop.last == true %}{{ tag }}{% else %}{{ tag }}, {% endif %}
        {% endfor %}
    </p>
    <p class="font-size-sm">
    <strong>Unicode:</strong> <em class="opacity-70">{{ page.unicode}}</em>
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="icon-preview box-shadow-1" {{ site.custom-properties-example }}>
            <div class="flex-row justify-content-center align-items-center one" style="background-image: url('{{ site.url }}/images/grid-pattern.svg');">
                <div class="height-100 padding-y-4">
                    <svg width="100%" height="20em" viewBox="0 0 48 48">
                        {{ page.svg }}
                    </svg>
                </div>
            </div>
            <div class="two theme-dark flex-row justify-content-center align-items-center">
                <svg width="100%" height="5em" viewBox="0 0 48 48">
                    {{ page.svg }}
                </svg>
            </div>
            <div class="three theme-primary flex-row justify-content-center align-items-center">
                <svg width="100%" height="4em" viewBox="0 0 48 48">
                    {{ page.svg }}
                </svg>
            </div>
            <div class="four subtle-fill text-color-link flex-row justify-content-center align-items-center">
                <svg width="100%" height="3em" viewBox="0 0 48 48" {% if page.className == 'loading' %} class="icon-loading rotate" {% endif %}>
                    {{ page.svg }}
                </svg>
            </div>
        </div>
        
        <pre>
            <code class="language-html">
                &lt;!-- Icon Font --&gt;

                &lt;span class="icon icon-{{ page.className }}"&gt;&lt;/span&gt;

                &lt;!-- SVG Sprite --&gt;
                
                &lt;svg class="icon"&gt;
                    &lt;use href="#{{ page.className }}"&gt;&lt;/use&gt;
                &lt;/svg&gt;

                {% if page.className == 'loading' %}
                &lt;!-- The loading icon accepts an optional rotate modifier --&gt;

                &lt;span class="icon icon-{{ page.className }} icon--rotate"&gt;&lt;/span&gt;
                {% endif %}
            </code>
        </pre>
    </div>
    <figcaption class="screen-reader-only">
        Figure 1
    </figcaption>
</figure>

<hr class="margin-y-4">

<div class="container narrow text-align-center margin-y-4">
    <div class="margin-y-3">
        <a
            class="button button--has-icon button--outline font-size-md"
            href="{{ site.url }}/icons/svg/{{ page.className }}.svg"
            download>
            <span class="icon icon-file-download"></span>
            <span class="button__text">
                <span class="Download"></span>
                <span>Download SVG</span>
            </span>
        </a>  
    </div>
    <p>
        Naturally Icons are free to use for commercial or personal use. If you wish to contribute, <a href="#1">please Let me know</a>.
    </p>
    <p class="font-size-md">
        <a href="https://github.com/cavidano/natura11y-icons" target="_blank">Natura11y Icons on Github</a>
    </p>
</div>
<!-- .container -->
