---
layout: default
---

<div class="backdrop backdrop--fixed theme-dark">

	<div class="backdrop__image">
		<img class="opacity-40" src="{{ site.url }}/images/backdrop-{{ page.backdrop }}.jpg" alt="">
	</div>

	<div class="backdrop__cover">

		<div class="margin-y-5">

			<div class="container narrow">
				<h1 class="banner-headline text-shadow">
					{{ page.title }}
				</h1>
			</div>

		</div>

	</div>
	<!-- .backdrop__cover -->

	<div class="backdrop__credit">
		<p>
			Photo by <a href="{{ page.backdrop_credit_url }}" target="_blank">{{ page.backdrop_credit_name }}</a> on Unsplash
		</p>
	</div>

</div>

<div class="overflow-hidden">
    {{ content }}
</div>
