---
layout: documentation
title: "Forms"
backdrop_credit_name: "vivek kumar"
backdrop_credit_url: "https://unsplash.com/@vikceo"
---

<div class="container narrow margin-y-4">
    <p>
        Forms are notoriously challenging to style and make accessible. Natura11y provides basic style and behavior for building user friendly, accessible and forms. 
    </p>
</div>
<!-- .container -->

{% capture as_body %}
<p>
    All form elements include a consistent visible focus for keyboard users.
</p>
<p>
    Most form input labels can be included <a href="https://www.w3.org/WAI/tutorials/forms/labels/#associating-labels-implicitly" target="_blank">implicitly</a> or <a href="https://www.w3.org/WAI/tutorials/forms/labels/#associating-labels-explicitly" target="_blank">explicitly</a> depending on your preference.
</p>
{% endcapture %}

{% include accessibility-spotlight.html content=as_body %}

<hr class="section-start" id="formEntries">

<div class="container narrow margin-y-4">
    <h2>Form Entries</h2>
    <p>
        The form entry parent selector (<code>.form-entry</code>) wraps each entry within a form. Child elements within form entries vary depending on their input types. Such types include <em>text inputs</em>, <em>textareas</em>, <em>selects</em>, <em>checkboxes</em>, and <em>radios</em>.
    </p>
    <p>
        In Figure 1, the <code>.form-entry</code> parent selector contains an <code>&lt;input&gt;</code> field with the <code>type="text"</code> attribute. 
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="padding-x-2 padding-y-5 box-shadow-1" {{ site.custom-properties-example }}>
            <div class="container narrow">

                <div class="form-entry">

                    <label class="form-entry__field">
                        <span class="form-entry__field__label">
                            Form Entry Label
                        </span>
                        <span class="form-entry__field__input">
                            <input
                                type="text"
                                name="textInputExample"
                                id="text-input-example" 
                                aria-describedby="help-text-input-example">
                        </span>
                    </label>
                    
                    <small class="form-entry__help" id="help-text-input-example">
                        Form entry help text
                    </small>
                
                </div>

            </div>
        </div>
        <pre data-line="1,3-17,19-21">
            <code class="language-html">
                &lt;div class="form-entry"&gt;

                    &lt;label class="form-entry__field"&gt;

                        &lt;span class="form-entry__field__label"&gt;
                            Form Entry Label
                        &lt;/span&gt;
                    
                        &lt;span class="form-entry__field__input"&gt;
                            &lt;input
                                type="text"
                                name="textInputExample"
                                id="text-input-example" 
                                aria-describedby="help-text-input-example"&gt;
                        &lt;/span&gt;
                    
                    &lt;/label&gt;
                    
                    &lt;small class="form-entry__help" id="help-text-input-example"&gt;
                        Form entry help text
                    &lt;/small&gt;
                
                &lt;/div&gt;
            </code>
        </pre>
    </div>
    <figcaption>
        Figure 1
    </figcaption>
</figure>

<figure class="container narrow margin-y-4">
    <table class="table table--edge">
        <thead>
            <tr>
                <th class="width-30" scope="col">Line #</th>
                <th class="width-70" scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#figure_1.1" data-line-anchor>
                        1
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry</code> parent selector is required.
                    </p>
                    <p>
                        It contains each entries elements, including help text and feedback messages.
                    </p>
                    <p>
                        When more than one <code>.form-entry</code> selector is present, spacing between them occurs automatically.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_1.3-17" data-line-anchor>
                        3-17
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry__field</code> child selector is required.
                    </p>
                    <p>
                        It holds the field's label and input elements.
                    </p>
                    <p>
                        The <code>.form-entry__field__label</code> grandchild selector is required.
                    </p>
                    <p>
                        It holds the actual label text, and required indicator (when present).
                    </p>
                    <p>
                        The <code>.form-entry__field__input</code> grandchild selector is required.
                    </p>
                    <p>
                        It holds the field's actual input elements.
                    </p>
                    <p>
                        When using help text, <code>aria-describedby</code> is present on the <code>input</code> tag for assistive technology. It equals the help text's <code>id</code> attribute (below).
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_1.19-21" data-line-anchor>
                        19-21
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry__help</code> child selector is not required.
                    </p>
                    <p>
                        Its <code>id</code> equals its associated <code>aria-describedby</code> attribute.
                    </p>
                </td>
            </tr>
        </tbody>

    </table>
</figure>

<hr class="section-start" id="selectElement">

<div class="container narrow margin-y-4">
    <h2>Select Element</h2>
    <p>
        With the example in Figure 2, the same <code>.form-entry</code> container holds a <code>&lt;select&gt;</code> element.
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="padding-x-2 padding-y-5 box-shadow-1" {{ site.custom-properties-example }}>
            <div class="container narrow">

                <div class="form-entry">

                    <label class="form-entry__field">

                        <span class="form-entry__field__label">
                            Form Entry Label
                        </span>
                    
                        <span class="form-entry__field__select">
                            <select
                                id="select-example" 
                                name="selectExample"
                                aria-describedby="help-select-example">
                                    <option value="">Select</option>
                                    <option value="Option One">Option One</option>
                                    <option value="Option Two">Option Two</option>
                                    <option value="Option Three">Option Three</option>
                                    <option value="Option Four">Option Four</option>
                                    <option value="Option Five">Option Five</option>
                            </select>
                        </span>
                    
                    </label>
                    
                    <small class="form-entry__help" id="help-select-example">
                        Form entry help text
                    </small>
                
                </div>

            </div>
        </div>
        <pre data-line="5-7,9-21">
            <code class="language-html">
                &lt;div class="form-entry"&gt;

                    &lt;label class="form-entry__field"&gt;

                        &lt;span class="form-entry__field__label"&gt;
                            Form Entry Label
                        &lt;/span&gt;
                    
                        &lt;span class="form-entry__field__select"&gt;
                            &lt;select
                                id="select-example" 
                                name="selectExample"
                                aria-describedby="help-select-example"&gt;
                                    &lt;option value=""&gt;Select&lt;/option&gt;
                                    &lt;option value="Option One"&gt;Option One&lt;/option&gt;
                                    &lt;option value="Option Two"&gt;Option Two&lt;/option&gt;
                                    &lt;option value="Option Three"&gt;Option Three&lt;/option&gt;
                                    &lt;option value="Option Four"&gt;Option Four&lt;/option&gt;
                                    &lt;option value="Option Five"&gt;Option Five&lt;/option&gt;
                            &lt;/select&gt;
                        &lt;/span&gt;
                    
                    &lt;/label&gt;
                    
                    &lt;small class="form-entry__help" id="help-select-example"&gt;
                        Form entry help text
                    &lt;/small&gt;
                
                &lt;/div&gt;
            </code>
        </pre>
    </div>
    <figcaption>
        Figure 2
    </figcaption>
</figure>

<figure class="container narrow margin-y-4">
    <table class="table table--edge">
        <thead>
            <tr>
                <th class="width-30" scope="col">Line #</th>
                <th class="width-70" scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#figure_2.5-7" data-line-anchor>
                        5-7
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry__field__label</code> grandchild selector is required.
                    </p>
                    <p>
                        The <code>for</code> attribute equals its associated <code>&lt;select&gt;</code> tags <code>id</code>.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_2.9-21" data-line-anchor>
                        9-21
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry__field__select</code> grandchild selector is required.
                    </p>
                    <p>
                        It holds the actual <code>&lt;select&gt;</code> tag.
                    </p>
                    <p>
                        The <code>&lt;select&gt;</code> tag's <code>id</code> equals its associated <code>for</code> attribute.
                    </p>
                </td>
            </tr>
        </tbody>

    </table>
</figure>

<hr class="section-start" id="textArea">

<div class="container narrow margin-y-4">
    <h2>Text Area</h2>
    <p>
        Following the previous example's pattern, Figure 3 shows the <code>.form-entry</code> parent selector with a <code>&lt;textarea&gt;</code> element.
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="padding-x-2 padding-y-5 box-shadow-1" {{ site.custom-properties-example }}>
            <div class="container narrow">

                <div class="form-entry">

                    <label class="form-entry__field">
                        <span class="form-entry__field__label">
                            Form Entry Label
                        </span>
                        <span class="form-entry__field__input">
                            <textarea
                                rows="8"
                                name="textInputExample"
                                id="text-textarea-example"
                                aria-describedby="help-textarea-example"
                            ></textarea>
                        </span>
                    </label>

                    <small class="form-entry__help" id="help-textarea-example">
                        Form entry help text
                    </small>

                </div>

            </div>
        </div>
        <pre data-line="5-7,9-16">
            <code class="language-html">
                &lt;div class="form-entry"&gt;

                    &lt;label class="form-entry__field"&gt;

                        &lt;span class="form-entry__field__label"&gt;
                            Form Entry Label
                        &lt;/span&gt;
                    
                        &lt;span class="form-entry__field__input"&gt;
                            &lt;textarea
                                rows="8"
                                name="textInputExample"
                                id="text-input-example"
                                aria-describedby="help-textarea-example"
                            &gt;&lt;/textarea&gt;
                        &lt;/span&gt;
                    
                    &lt;/label&gt;

                    &lt;small class="form-entry__help" id="help-textarea-example"&gt;
                        Form entry help text
                    &lt;/small&gt;

                &lt;/div&gt;
            </code>
        </pre>
    </div>
    <figcaption>
        Figure 3
    </figcaption>
</figure>

<figure class="container narrow margin-y-4">
    <table class="table table--edge">
        <thead>
            <tr>
                <th class="width-30" scope="col">Line #</th>
                <th class="width-70" scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#figure_3.5-7" data-line-anchor>
                        5-7
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry__field__label</code> grandchild selector is required.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_3.9-16" data-line-anchor>
                        9-16
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry__field__input</code> grandchild selector is required.
                    </p>
                    <p>
                        It holds the actual <code>&lt;textarea&gt;</code> tag.
                    </p>
                </td>
            </tr>
        </tbody>

    </table>
</figure>

<hr class="section-start" id="fileUpload">

<div class="container narrow margin-y-4">
    <h2>File Upload</h2>
    <p>
        Natura11y offers a simple file upload component, as shown in Figure 4 below.
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="padding-x-2 padding-y-5 box-shadow-1" {{ site.custom-properties-example }}>
            <div class="container narrow">

                <div class="form-entry">

                    <div class="form-entry__field">

                        <span class="form-entry__field__label">
                            Upload a Single File
                        </span>

                        <div class="form-entry__field__input">
                            <label class="file-upload">
                                <span class="file-upload__drop">
                                    <span class="file-upload__drop__text">Drag and Drop</span>
                                </span>
                                <input
                                    class="file-upload__input"
                                    type="file"
                                    name="fileUploadExample"
                                    id="file-upload-example"
                                    accept="image/*">
                                <span class="button button--outline button--has-icon file-upload__button">
                                    <span class="icon icon-upload"></span>
                                    <span class="button__text">Browse for a File</span>
                                </span>
                            </label>
                        </div>

                    </div>

                    <small class="form-entry__help" id="help-file-upload-example">
                        Form entry help text
                    </small>

                </div>

            </div>
        </div>
        <pre data-line="11,13-15,17-22,24-27">
            <code class="language-html">
                &lt;div class="form-entry"&gt;

                    &lt;div class="form-entry__field"&gt;

                        &lt;span class="form-entry__field__label"&gt;
                            Upload a Single File
                        &lt;/span&gt;

                        &lt;div class="form-entry__field__input"&gt;

                            &lt;label class="file-upload"&gt;
                        
                                &lt;span class="file-upload__drop"&gt;
                                    &lt;span class="file-upload__drop__text"&gt;Drag and Drop&lt;/span&gt;
                                &lt;/span&gt;
                        
                                &lt;input
                                    class="file-upload__input"
                                    type="file"
                                    name="fileUploadExample"
                                    id="file-upload-example"
                                    accept="image/*"&gt;
                        
                                &lt;span class="button button--outline button--has-icon file-upload__button"&gt;
                                    &lt;span class="icon icon-upload"&gt;&lt;/span&gt;
                                    &lt;span class="button__text"&gt;Browse for a File&lt;/span&gt;
                                &lt;/span&gt;
                        
                            &lt;/label&gt;
                        
                        &lt;/div&gt;

                    &lt;/div&gt;

                    &lt;small class="form-entry__help" id="help-file-upload-example"&gt;
                        Form entry help text
                    &lt;/small&gt;

                &lt;/div&gt;
            </code>
        </pre>
    </div>
    <figcaption>
        Figure 4
    </figcaption>
</figure>

<figure class="container narrow margin-y-4">
    <table class="table table--edge">
        <thead>
            <tr>
                <th class="width-30" scope="col">Line #</th>
                <th class="width-70" scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#figure_4.5-7" data-line-anchor>
                        5-7
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.file-upload</code> selector is required.
                    </p>
                    <p>
                        It holds the drop area and actual <code>&lt;input&gt;</code> tag.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_4.13-15" data-line-anchor>
                        13-15
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.file-upload__drop</code> child selector is required.
                    </p>
                    <p>
                        It holds the <code>.file-upload__drop__text</code> selector.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_4.17-22" data-line-anchor>
                        17-22
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.file-upload__input</code> child selector is required.
                    </p>
                    <p>
                        It includes the <code>type="file"</code> attribute.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_4.24-27" data-line-anchor>
                        24-27
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.button</code> selector is required.
                    </p>
                    <p>
                        It can be styled with any of the <a href="{{ site.url }}/docs/buttons">button</a> utilities.
                    </p>
                </td>
            </tr>
        </tbody>

    </table>
</figure>

<hr class="section-start" id="checkboxes">

<div class="container narrow margin-y-4">
    <h2>Checkboxes</h2>
    <p>
        Checkbox (and radio) groups use semantic <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code> tags. They stack vertically, with a healthy amount of padding. This helps to ensure an accessible <em>target</em> size.
    </p>
    <p>
        Figure 5 provides the markup required to create a checkbox group.
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="padding-x-2 padding-y-5 box-shadow-1" {{ site.custom-properties-example }}>
            <div class="container narrow">

                <div class="form-entry">

                    <fieldset class="form-entry__field">

                        <legend class="form-entry__field__label">
                            Form Entry Label
                        </legend>

                        <div class="form-entry__option">

                            <div class="form-entry__option__check">
                                <label>
                                    <input
                                        type="checkbox"
                                        name="checkboxGroupExample"
                                        id="check-option-one"
                                        value="optionOne">
                                        <span class="option__label">
                                            Option One
                                        </span>
                                </label>
                            </div>

                            <div class="form-entry__option__check">
                                <label>
                                    <input
                                        type="checkbox"
                                        name="checkboxGroupExample"
                                        id="check-option-two"
                                        value="optionTwo">
                                        <span class="option__label">
                                            Option Two
                                        </span>
                                </label>
                            </div>

                            <div class="form-entry__option__check">
                                <label>
                                    <input
                                        type="checkbox"
                                        name="checkboxGroupExample"
                                        id="check-option-three"
                                        value="optionThree">
                                        <span class="option__label">
                                            Option Three
                                        </span>
                                </label>
                            </div>

                        </div>

                    </fieldset>

                </div>

            </div>
        </div>
        <pre data-line="9,11,18-20">
            <code class="language-html">
                &lt;div class="form-entry"&gt;

                    &lt;fieldset class="form-entry__field"&gt;

                        &lt;legend class="form-entry__field__label"&gt;
                            Form Entry Label
                        &lt;/legend&gt;

                        &lt;div class="form-entry__option"&gt;

                            &lt;div class="form-entry__option__check"&gt;
                                &lt;label&gt;
                                    &lt;input
                                        type="checkbox"
                                        name="checkboxGroupExample"
                                        id="check-option-one"
                                        value="optionOne"&gt;
                                        &lt;span class="option__label"&gt;
                                            Option One
                                        &lt;/span&gt;
                                &lt;/label&gt;
                            &lt;/div&gt;

                            &lt;div class="form-entry__option__check"&gt;
                                &lt;label&gt;
                                    &lt;input
                                        type="checkbox"
                                        name="checkboxGroupExample"
                                        id="check-option-two"
                                        value="optionTwo"&gt;
                                        &lt;span class="option__label"&gt;
                                            Option Two
                                        &lt;/span&gt;
                                &lt;/label&gt;
                            &lt;/div&gt;

                            &lt;div class="form-entry__option__check"&gt;
                                &lt;label&gt;
                                    &lt;input
                                        type="checkbox"
                                        name="checkboxGroupExample"
                                        id="check-option-three"
                                        value="optionThree"&gt;
                                        &lt;span class="option__label"&gt;
                                            Option Three
                                        &lt;/span&gt;
                                &lt;/label&gt;
                            &lt;/div&gt;

                        &lt;/div&gt;

                    &lt;/fieldset&gt;

                &lt;/div&gt;
            </code>
        </pre>
    </div>
    <figcaption>
        Figure 5
    </figcaption>
</figure>

<figure class="container narrow margin-y-4">
    <table class="table table--edge">
        <thead>
            <tr>
                <th class="width-30" scope="col">Line #</th>
                <th class="width-70" scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#figure_5.9" data-line-anchor>
                        9
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry__option</code> child selector is required.
                    </p>
                    <p>
                        It holds the options markup for the <code>&lt;fieldset&gt;</code>.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_5.11" data-line-anchor>
                        11
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry__option__check</code> grandchild selector is required.
                    </p>
                    <p>
                        It holds the actual <code>&lt;label&gt;</code> and <code>&lt;input&gt;</code> tags.
                    </p>
                    <p>
                        The <code>.form-entry__option__check</code> selector is repeatable for multiple options.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_2.18-20" data-line-anchor>
                        18-20
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.option__label</code> child selector is required.
                    </p>
                    <p>
                        It holds the actual text label for the checkbox.
                    </p>
                </td>
            </tr>
        </tbody>

    </table>
</figure>

<div class="container narrow margin-y-4">
    <h3>Single Checkbox</h3>
    <p>
        For a single checkbox, do not use a <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code>. Instead, provide an <code>id</code> on the <code>.form-entry__field__label</code> selector (Figure 6, line 5). Then associate it with <code>aria-labeledby</code> placed on the surrounding <code>&lt;label&gt;</code> tag (Figure 6, lines 13).  
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="padding-x-2 padding-y-5 box-shadow-1" {{ site.custom-properties-example }}>
            <div class="container narrow">

                <div class="form-entry">

                    <div class="form-entry__field">

                        <span class="form-entry__field__label" id="single-option-label">
                            Form Entry Label
                        </span>

                        <div class="form-entry__option">

                            <div class="form-entry__option__check">

                                <label aria-labeledby="single-option-label">
                                    <input
                                        type="checkbox"
                                        name="singleOption"
                                        id="single-option"
                                        value="option">
                                        <span class="option__label">
                                            Option
                                        </span>
                                </label>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <pre data-line="5,13">
            <code class="language-html">
                &lt;div class="form-entry"&gt;

                    &lt;div class="form-entry__field"&gt;

                        &lt;span class="form-entry__field__label" id="single-option-label"&gt;
                            Form Entry Label
                        &lt;/span&gt;

                        &lt;div class="form-entry__option"&gt;

                            &lt;div class="form-entry__option__check"&gt;

                                &lt;label aria-labeledby="single-option-label"&gt;
                                    &lt;input
                                        type="checkbox"
                                        name="singleOption"
                                        id="single-option"
                                        value="option"&gt;
                                        &lt;span class="option__label"&gt;
                                            Option
                                        &lt;/span&gt;
                                &lt;/label&gt;

                            &lt;/div&gt;

                        &lt;/div&gt;

                    &lt;/div&gt;

                &lt;/div&gt;
            </code>
        </pre>
    </div>
    <figcaption>
        Figure 6
    </figcaption>
</figure>

<div class="container narrow margin-y-4">
    <h3>Checkbox Switch</h3>
    <p>
        Checkboxes can transform into switches with just a couple of of changes to the markup.
    </p>
    <p>
        First, change the <code>.form-entry__option__check</code> to <code>.form-entry__option__switch</code> (Figure 7, line 11). Then, above the switch label, add an empty <code>&lt;span&gt;</code> with a <code>.switch__slider</code> class (Figure 7, line 19).
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="padding-x-2 padding-y-5 box-shadow-1" {{ site.custom-properties-example }}>
            <div class="container narrow">

                <div class="form-entry">

                    <div class="form-entry__field">

                        <span class="form-entry__field__label" id="switch-option-label">
                            Form Entry Label
                        </span>

                        <div class="form-entry__option">

                            <div class="form-entry__option__switch">

                                <label aria-labeledby="switch-option-label">
                                    <input
                                        type="checkbox"
                                        name="singleOption"
                                        id="switch-option"
                                        value="option">
                                        <span class="switch__slider"></span>
                                        <span class="option__label">
                                            Recieve Notifications
                                        </span>
                                </label>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <pre data-line="11,19">
            <code class="language-html">
                &lt;div class="form-entry"&gt;

                    &lt;div class="form-entry__field"&gt;

                        &lt;span class="form-entry__field__label" id="switch-option-label"&gt;
                            Form Entry Label
                        &lt;/span&gt;

                        &lt;div class="form-entry__option"&gt;

                            &lt;div class="form-entry__option__switch"&gt;

                                &lt;label aria-labeledby="switch-option-label"&gt;
                                    &lt;input
                                        type="checkbox"
                                        name="singleOption"
                                        id="switch-option"
                                        value="option"&gt;
                                        &lt;span class="switch__slider"&gt;&lt;/span&gt;
                                        &lt;span class="option__label"&gt;
                                            Recieve Notifications
                                        &lt;/span&gt;
                                &lt;/label&gt;

                            &lt;/div&gt;

                        &lt;/div&gt;

                    &lt;/div&gt;

                &lt;/div&gt;
            </code>
        </pre>
    </div>
    <figcaption>
        Figure 7
    </figcaption>
</figure>

<hr class="section-start" id="radios">

<div class="container narrow margin-y-4">
    <h2>Radios</h2>
    <p>
        Like checkboxes, radio groups use semantic <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code> tags.
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="padding-x-2 padding-y-5 box-shadow-1" {{ site.custom-properties-example }}>
            <div class="container narrow">

                <div class="form-entry">

                    <fieldset class="form-entry__field">

                        <legend class="form-entry__field__label">
                            Form Entry Label
                        </legend>

                        <div class="form-entry__option">

                            <div class="form-entry__option__radio">
                                <label>
                                    <input
                                        type="radio"
                                        name="radioGroupExample"
                                        id="radio-option-one"
                                        value="optionOne">
                                        <span class="option__label">
                                            Option One
                                        </span>
                                </label>
                            </div>

                            <div class="form-entry__option__radio">
                                <label>
                                    <input
                                        type="radio"
                                        name="radioGroupExample"
                                        id="radio-option-two"
                                        value="optionTwo">
                                        <span class="option__label">
                                            Option Two
                                        </span>
                                </label>
                            </div>

                            <div class="form-entry__option__radio">
                                <label>
                                    <input
                                        type="radio"
                                        name="radioGroupExample"
                                        id="radio-option-three"
                                        value="optionThree">
                                        <span class="option__label">
                                            Option Three
                                        </span>
                                </label>
                            </div>

                        </div>

                    </fieldset>

                </div>

            </div>
        </div>
        <pre data-line="9,11,18-20">
            <code class="language-html">
                &lt;div class="form-entry"&gt;

                    &lt;fieldset class="form-entry__field"&gt;

                        &lt;legend class="form-entry__field__label"&gt;
                            Form Entry Label
                        &lt;/legend&gt;

                        &lt;div class="form-entry__option"&gt;

                            &lt;div class="form-entry__option__radio"&gt;
                                &lt;label&gt;
                                    &lt;input
                                        type="radio"
                                        name="radioGroupExample"
                                        id="radio-option-one"
                                        value="optionOne"&gt;
                                        &lt;span class="option__label"&gt;
                                            Option One
                                        &lt;/span&gt;
                                &lt;/label&gt;
                            &lt;/div&gt;

                            &lt;div class="form-entry__option__radio"&gt;
                                &lt;label&gt;
                                    &lt;input
                                        type="radio"
                                        name="radioGroupExample"
                                        id="radio-option-two"
                                        value="optionTwo"&gt;
                                        &lt;span class="option__label"&gt;
                                            Option Two
                                        &lt;/span&gt;
                                &lt;/label&gt;
                            &lt;/div&gt;

                            &lt;div class="form-entry__option__radio"&gt;
                                &lt;label&gt;
                                    &lt;input
                                        type="radio"
                                        name="radioGroupExample"
                                        id="radio-option-three"
                                        value="optionThree"&gt;
                                        &lt;span class="option__label"&gt;
                                            Option Three
                                        &lt;/span&gt;
                                &lt;/label&gt;
                            &lt;/div&gt;

                        &lt;/div&gt;

                    &lt;/fieldset&gt;

                &lt;/div&gt;
            </code>
        </pre>
    </div>
    <figcaption>
        Figure 8
    </figcaption>
</figure>

<figure class="container narrow margin-y-4">
    <table class="table table--edge">
        <thead>
            <tr>
                <th class="width-30" scope="col">Line #</th>
                <th class="width-70" scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#figure_8.9" data-line-anchor>
                        9
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry__option</code> child selector is required.
                    </p>
                    <p>
                        It holds each <code>.form-entry__option__radio</code> grandchild selector.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_8.11" data-line-anchor>
                        11
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.form-entry__option__radio</code> grandchild selector is required.
                    </p>
                    <p>
                        It holds the actual <code>&lt;label&gt;</code> and <code>&lt;input&gt;</code> tags.
                    </p>
                    <p>
                        The <code>.form-entry__option__radio</code> selector is repeatable for multiple options.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#figure_8.18-20" data-line-anchor>
                        18-20
                    </a>
                </td>
                <td>
                    <p>
                        The <code>.option__label</code> child selector is required.
                    </p>
                    <p>
                        It holds the actual text label for the radio.
                    </p>
                </td>
            </tr>
        </tbody>

    </table>
</figure>

<hr class="section-start" id="requiredFields">

<div class="container narrow margin-y-4">
    <h2>Required Fields</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia voluptatibus quas minima eos necessitatibus, corrupti tempore sint quos.
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="padding-x-2 padding-y-5 box-shadow-1" {{ site.custom-properties-example }}>
            <div class="container narrow">

                <div
                    class="form-entry is-invalid"
                    data-required="true"
                    data-error-description="Error description" 
                    data-error-instructions="Error fix instructions">

                    <label class="form-entry__field">
                        <span class="form-entry__field__label">
                            Form Entry Label
                        </span>
                        <div class="form-entry__feedback">
                            <small>
                                <span class="icon icon-warn" aria-hidden="true"></span>
                                <strong>Borough is required!</strong>
                                <span>Select a Borough</span>
                            </small>
                        </div>
                        <span class="form-entry__field__input">
                            <input
                                type="text"
                                name="textInputExample"
                                id="required-field-example"
                                aria-describedby="help-required-field-example">
                        </span>
                    </label>

                    <small class="form-entry__help" id="help-required-field-example">
                        Form entry help text
                    </small>

                </div>

            </div>
        </div>
        <pre data-line="3-5">
            <code class="language-html">
                &lt;div
                    class="form-entry"
                    data-required="true"
                    data-error-description="Error description" 
                    data-error-instructions="Error fix instructions"&gt;

                    &lt;div class="form-entry__field"&gt;
                        ...
                    &lt;/div&gt;

                &lt;/div&gt;
            </code>
        </pre>
    </div>
    <figcaption>
        Figure 9
    </figcaption>
</figure>

<figure class="container narrow margin-y-4">
    <table class="table table--edge">
        <thead>
            <tr>
                <th class="width-30" scope="col">Line #</th>
                <th class="width-70" scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#figure_9.3-5" data-line-anchor>
                        3-5
                    </a>
                </td>
                <td>
                    <p>
                        The <code>data-required="true"</code> attribute uses javascript to update the actual input field's <code>required</code> and <code>data-required</code> attributes.
                    </p>
                    <p>
                        The <code>data-error-description</code> attribute provides the first part of the custom error message (the error that has occured).
                    </p>
                    <p>
                        The <code>data-error-instructions</code> attribute provides the second part of the custom error message (how to fix the error).
                    </p>
                </td>
            </tr>
        </tbody>

    </table>
</figure>

<hr class="section-start" id="formValidation">

<div class="container narrow margin-y-4">
    <h2>Form Validation</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia voluptatibus quas minima eos necessitatibus, corrupti tempore sint quos.
    </p>
</div>
<!-- .container -->

<figure class="container narrow margin-y-4">
    <form novalidate {{ site.custom-properties-example }}>

        <p class="required-indicator" aria-hidden="true">
            <span class="required-indicator__text">
                Indicates Required Fields
            </span> 
            <span class="required-indicator__icon">*</span>
        </p>

        <div
            class="form-entry"
            data-required="true"
            data-error-description="Your first and last name is required" 
            data-error-instructions="Enter your full name">

            <label class="form-entry__field">
                <span class="form-entry__field__label">
                    First and Last Name
                </span>
                <span class="form-entry__field__input">
                    <input
                        type="text"
                        name="textInputExample"
                        id="first-and-last-name"
                        aria-describedby="help-first-and-last-name">
                </span>
            </label>

            <small class="form-entry__help" id="help-first-and-last-name">
                Please do not include your middle initial
            </small>

        </div>
        <!-- .form-entry -->

        <div
            class="form-entry"
            data-required="true"
            data-error-description="Your first and last name is required" 
            data-error-instructions="Enter your full name">

            <label class="form-entry__field">
                <span class="form-entry__field__label">
                    Email Address
                </span>
                <span class="form-entry__field__input">
                    <input
                        type="email"
                        name="textInputExample"
                        id="first-and-last-name"
                        aria-describedby="help-first-and-last-name">
                </span>
            </label>

            <small class="form-entry__help" id="help-first-and-last-name">
                Example: janeDoe@email.com
            </small>

        </div>
        <!-- .form-entry -->

        <div
            class="form-entry"
            data-required="true"
            data-error-description="Borough is required!" 
            data-error-instructions="Select a Borough">

            <div class="form-entry__field">
                
                <label class="form-entry__field__label" for="select-borough">
                    Borough of Residence
                </label>
                
                <span class="form-entry__field__select">
                    <select id="select-borough" name="Boroughs">
                        <option value="">Select One</option>
                        <option value="Bronx">Bronx</option>
                        <option value="Brooklyn">Brooklyn</option>
                        <option value="Manhattan">Manhattan</option>
                        <option value="Staten Island">Staten Island</option>
                        <option value="Queens">Queens</option>
                    </select>
                </span>

            </div>

        </div>
        <!-- .form-entry -->

        <div class="form-entry">

            <label class="form-entry__field">

                <span class="form-entry__field__label">
                    Request Details
                </span>

                <span class="form-entry__field__input">
                    <textarea rows="8"></textarea>
                </span>
                
                <small class="form-entry__help">
                    This is help text
                </small>

            </label>

        </div>
        <!-- .form-entry -->

        <div
            class="form-entry"
            data-required="true"
            data-error-description="Priority is required!" 
            data-error-instructions="Select your priority rating">

            <fieldset class="form-entry__field">

                <legend class="form-entry__field__label">
                    What is the priority of this request?
                </legend>

                <div class="form-entry__option">

                    <div class="form-entry__option__radio">
                        <label>
                            <input
                                type="radio"
                                id="priority-of-request-high"
                                name="priority-of-request">
                            <span class="option__label">
                                High
                            </span>
                        </label>
                    </div>

                    <div class="form-entry__option__radio">
                        <label>
                            <input
                                type="radio"
                                id="priority-of-request-medium"
                                name="priority-of-request">
                            <span class="option__label">
                                Medium
                            </span>
                        </label> 
                    </div>

                    <div class="form-entry__option__radio">
                        <label>
                            <input
                                type="radio"
                                id="priority-of-request-low"
                                name="priority-of-request">
                            <span class="option__label">
                                Low
                            </span>
                        </label>
                    </div>

                </div>

            </fieldset>

        </div>
        <!-- .form-entry -->
        
        <button 
            class="button theme-primary width-100 rounded-pill"
            type="submit">
                Submit
        </button>

    </form>
</figure>

<hr class="section-start" id="floatingLabels">

<div class="container narrow margin-y-4">
    <h2>Floating Labels</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia voluptatibus quas minima eos necessitatibus,
        corrupti tempore sint quos exercitationem cum rerum porro.
    </p>
</div>
<!-- .container -->

<figure class="container medium margin-y-4">
    <div class="example">
        <div class="padding-x-2 padding-y-5 box-shadow-1" {{ site.custom-properties-example }}>
            <div class="container narrow">

                <div class="grid gap-2">

                    <div 
                        class="form-entry"
                        data-required="true"
                        data-error-description="Username is required!" 
                        data-error-instructions="Enter your username">

                        <label class="form-entry__field form-entry__field--float">

                            <span class="form-entry__field__label">
                                Username
                            </span>
                            
                            <span class="form-entry__field__input">
                                <input type="text" id="accountUsername" name="username">
                            </span>

                        </label>

                    </div>
                    <!-- .form-entry -->

                    <div 
                        class="form-entry"
                        data-required="true"
                        data-error-description="Password is required!" 
                        data-error-instructions="Enter your password">

                        <label class="form-entry__field form-entry__field--float">

                            <span class="form-entry__field__label">
                                Password
                            </span>
                            
                            <span class="form-entry__field__input">
                                <input type="password" id="accountPassword" name="password">
                            </span>

                        </label>

                    </div>
                    <!-- .form-entry -->

                    <div 
                        class="form-entry grid__colspan-2"
                        data-required="true"
                        data-error-description="Password is required!" 
                        data-error-instructions="Enter your password">

                        <label class="form-entry__field form-entry__field--float">

                            <span class="form-entry__field__label">
                                Email
                            </span>
                            
                            <span class="form-entry__field__input">
                                <input type="email" id="accountEmail" name="password">
                            </span>

                        </label>

                    </div>
                    <!-- .form-entry -->

                </div>

            </div>
        </div>
        <pre>
            <code class="language-html">
                &lt;div class="form-entry"&gt;
                    ...
                &lt;/div&gt;
            </code>
        </pre>
    </div>
    <figcaption>
        Figure 11
    </figcaption>
</figure>

{% include related-css-variables.html anchor="forms" figure="13" %}
